.title {
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
	font-family: "Roboto", sans-serif;
}

.loading {
	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}
